node-red/flows.json
[
    {
        "id": "f443ee7e56592f80",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "b0be7ceaae9a8f0f",
        "type": "ui_form",
        "z": "f443ee7e56592f80",
        "name": "login",
        "label": "Login",
        "group": "b04094c5dac47317",
        "order": 0,
        "width": 0,
        "height": 0,
        "options": [
            {
                "label": "Username",
                "value": "username",
                "type": "text",
                "required": true,
                "rows": null
            },
            {
                "label": "Password",
                "value": "password",
                "type": "password",
                "required": true,
                "rows": null
            }
        ],
        "formValue": {
            "username": "",
            "password": ""
        },
        "payload": "",
        "submit": "submit",
        "cancel": "cancel",
        "topic": "topic",
        "topicType": "msg",
        "splitLayout": "",
        "className": "",
        "x": 530,
        "y": 440,
        "wires": [
            [
                "87575f426e662cc2"
            ]
        ]
    },
    {
        "id": "f9fb2b65feec0d1f",
        "type": "mongodb3 in",
        "z": "f443ee7e56592f80",
        "service": "_ext_",
        "configNode": "a5bf18d5d616456a",
        "name": "mauth",
        "collection": "account",
        "operation": "",
        "x": 1010,
        "y": 100,
        "wires": [
            [
                "8ebda819a2c4f9ec"
            ]
        ]
    },
    {
        "id": "21bdc14fc15f298b",
        "type": "function",
        "z": "f443ee7e56592f80",
        "name": "function 1",
        "func": "msg.payload = {}\nmsg.operation = \"find.forEach\";\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 840,
        "y": 420,
        "wires": [
            [
                "f9fb2b65feec0d1f"
            ]
        ]
    },
    {
        "id": "8ebda819a2c4f9ec",
        "type": "function",
        "z": "f443ee7e56592f80",
        "name": "function 2",
        "func": "if (msg.payload.username == msg.login.username\n    && msg.payload.password == msg.login.password)\n        msg.payload.notification = \"Login successfully\";\nelse\n        msg.payload.notification = \"Incorrect username or password\";\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1140,
        "y": 400,
        "wires": [
            [
                "604c1c2b3663d4b1"
            ]
        ]
    },
    {
        "id": "87575f426e662cc2",
        "type": "change",
        "z": "f443ee7e56592f80",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "login",
                "pt": "msg",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 680,
        "y": 100,
        "wires": [
            [
                "21bdc14fc15f298b"
            ]
        ]
    },
    {
        "id": "7dbdf59f64878771",
        "type": "ui_toast",
        "z": "f443ee7e56592f80",
        "position": "dialog",
        "displayTime": "3",
        "highlight": "",
        "sendall": true,
        "outputs": 1,
        "ok": "OK",
        "cancel": "",
        "raw": false,
        "className": "",
        "topic": "",
        "name": "",
        "x": 1530,
        "y": 400,
        "wires": [
            []
        ]
    },
    {
        "id": "604c1c2b3663d4b1",
        "type": "change",
        "z": "f443ee7e56592f80",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.notification",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1320,
        "y": 100,
        "wires": [
            [
                "7dbdf59f64878771"
            ]
        ]
    },
    {
        "id": "df402f95b64e25c3",
        "type": "ui_form",
        "z": "f443ee7e56592f80",
        "name": "change in4",
        "label": "Change Information",
        "group": "35567e95d9036b12",
        "order": 1,
        "width": 0,
        "height": 0,
        "options": [
            {
                "label": "Username",
                "value": "username",
                "type": "text",
                "required": true,
                "rows": null
            },
            {
                "label": "New password",
                "value": "password",
                "type": "text",
                "required": true,
                "rows": null
            }
        ],
        "formValue": {
            "username": "",
            "password": ""
        },
        "payload": "",
        "submit": "submit",
        "cancel": "cancel",
        "topic": "topic",
        "topicType": "msg",
        "splitLayout": "",
        "className": "",
        "x": 530,
        "y": 700,
        "wires": [
            [
                "8e92ceef6f0ef9d5"
            ]
        ]
    },
    {
        "id": "80c39b6740a00cf3",
        "type": "mongodb3 in",
        "z": "f443ee7e56592f80",
        "service": "_ext_",
        "configNode": "a5bf18d5d616456a",
        "name": "change password",
        "collection": "account",
        "operation": "updateOne",
        "x": 890,
        "y": 700,
        "wires": [
            [
                "a42026694e89ae81"
            ]
        ]
    },
    {
        "id": "8e92ceef6f0ef9d5",
        "type": "function",
        "z": "f443ee7e56592f80",
        "name": "function 3",
        "func": "//flow.get(\"password\", msg.payload.password);\nmsg.payload = [{\"username\": \"admin\"}, {$set: {\"password\": msg.payload.password}}];\nmsg.operation = \"updateOne\";\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 700,
        "y": 520,
        "wires": [
            [
                "80c39b6740a00cf3"
            ]
        ]
    },
    {
        "id": "a42026694e89ae81",
        "type": "change",
        "z": "f443ee7e56592f80",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "Password changed",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1100,
        "y": 560,
        "wires": [
            [
                "384da5f3a196424e"
            ]
        ]
    },
    {
        "id": "384da5f3a196424e",
        "type": "ui_toast",
        "z": "f443ee7e56592f80",
        "position": "dialog",
        "displayTime": "3",
        "highlight": "",
        "sendall": true,
        "outputs": 1,
        "ok": "OK",
        "cancel": "",
        "raw": false,
        "className": "",
        "topic": "",
        "name": "",
        "x": 1290,
        "y": 700,
        "wires": [
            []
        ]
    },
    {
        "id": "56e42f1643b3391c",
        "type": "inject",
        "z": "f443ee7e56592f80",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "1",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "servo/turn",
        "payload": "90",
        "payloadType": "str",
        "x": 520,
        "y": 800,
        "wires": [
            [
                "b43a6c9d475a09a4"
            ]
        ]
    },
    {
        "id": "b43a6c9d475a09a4",
        "type": "mqtt out",
        "z": "f443ee7e56592f80",
        "name": "",
        "topic": "servo/turn",
        "qos": "2",
        "retain": "false",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "0f531c1ca3146c19",
        "x": 810,
        "y": 800,
        "wires": []
    },
    {
        "id": "b04094c5dac47317",
        "type": "ui_group",
        "name": "Home",
        "tab": "e2c0db14e0242032",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "a5bf18d5d616456a",
        "type": "mongodb3",
        "uri": "mongodb+srv://vttin21:superchina@cluster0.1hnnvkh.mongodb.net/?retryWrites=true&w=majority",
        "name": "",
        "options": "",
        "parallelism": "-1"
    },
    {
        "id": "35567e95d9036b12",
        "type": "ui_group",
        "name": "Information",
        "tab": "e34f508fd6549f51",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "e2c0db14e0242032",
        "type": "ui_tab",
        "name": "Home",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "e34f508fd6549f51",
        "type": "ui_tab",
        "name": "Settings",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "2da2b8bc89f3b76d",
        "type": "ui_gauge",
        "z": "8cd7f9bece66317e",
        "name": "",
        "group": "f5b473cd1c37b8ea",
        "order": 1,
        "width": "8",
        "height": "4",
        "gtype": "gage",
        "title": "Temperature",
        "label": "oC",
        "format": "{{msg.payload.temperature}}",
        "min": 0,
        "max": "50",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "29",
        "seg2": "37.5",
        "diff": false,
        "className": "",
        "x": 870,
        "y": 60,
        "wires": []
    },
    {
        "id": "1229b5eda0964faf",
        "type": "ui_gauge",
        "z": "8cd7f9bece66317e",
        "name": "",
        "group": "d5b8e4da0f4de1d6",
        "order": 2,
        "width": "8",
        "height": "4",
        "gtype": "gage",
        "title": "Humidity",
        "label": "oC",
        "format": "{{msg.payload.humidity}}",
        "min": "20",
        "max": "90",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "40",
        "seg2": "70",
        "diff": false,
        "className": "",
        "x": 860,
        "y": 180,
        "wires": []
    },
    {
        "id": "a5035f2d4a0a042b",
        "type": "mqtt in",
        "z": "8cd7f9bece66317e",
        "name": "",
        "topic": "Home/Temperature",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "52ef8be74909898e",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 370,
        "y": 140,
        "wires": [
            [
                "f3ce5f0f576ad53e"
            ]
        ]
    },
    {
        "id": "c06277b7310cc7dc",
        "type": "mqtt out",
        "z": "8cd7f9bece66317e",
        "name": "",
        "topic": "home/data",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "52ef8be74909898e",
        "x": 570,
        "y": 380,
        "wires": []
    },
    {
        "id": "2f1d77150f90df11",
        "type": "inject",
        "z": "8cd7f9bece66317e",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 360,
        "y": 380,
        "wires": [
            [
                "c06277b7310cc7dc"
            ]
        ]
    },
    {
        "id": "71a049c2034f8e8b",
        "type": "http request",
        "z": "8cd7f9bece66317e",
        "name": "",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "https://api.thingspeak.com/channels/2373888/fields/3.json?api_key=PPXQIRCSVIGGUN8B&results=2",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 450,
        "y": 300,
        "wires": [
            [
                "348d89610e83e1f8"
            ]
        ]
    },
    {
        "id": "73b07321b9e7490e",
        "type": "inject",
        "z": "8cd7f9bece66317e",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "30",
        "crontab": "",
        "once": true,
        "onceDelay": "30",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 270,
        "y": 300,
        "wires": [
            [
                "71a049c2034f8e8b"
            ]
        ]
    },
    {
        "id": "348d89610e83e1f8",
        "type": "json",
        "z": "8cd7f9bece66317e",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 610,
        "y": 300,
        "wires": [
            [
                "7c10cdcca011ee4b"
            ]
        ]
    },
    {
        "id": "7c10cdcca011ee4b",
        "type": "function",
        "z": "8cd7f9bece66317e",
        "name": "function 1",
        "func": "msg.payload = Number(msg.payload.feeds[0].field3);\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 760,
        "y": 300,
        "wires": [
            [
                "7c431278652059a2"
            ]
        ]
    },
    {
        "id": "dc390d5b43992a8d",
        "type": "comment",
        "z": "8cd7f9bece66317e",
        "name": "Dashboard",
        "info": "",
        "x": 140,
        "y": 80,
        "wires": []
    },
    {
        "id": "7c431278652059a2",
        "type": "ui_chart",
        "z": "8cd7f9bece66317e",
        "name": "",
        "group": "457669cf121f2326",
        "order": 0,
        "width": "16",
        "height": "6",
        "label": "chart",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": true,
        "ymin": "0",
        "ymax": "1",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 930,
        "y": 300,
        "wires": [
            []
        ]
    },
    {
        "id": "8dfe76878b7ae3e4",
        "type": "mqtt in",
        "z": "8cd7f9bece66317e",
        "name": "",
        "topic": "Home/Humidity",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "52ef8be74909898e",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 380,
        "y": 240,
        "wires": [
            [
                "e1ceb05acdc37f19"
            ]
        ]
    },
    {
        "id": "ee6c0e61a6d0032c",
        "type": "e-mail",
        "z": "8cd7f9bece66317e",
        "server": "smtp.gmail.com",
        "port": "465",
        "authtype": "BASIC",
        "saslformat": true,
        "token": "oauth2Response.access_token",
        "secure": true,
        "tls": true,
        "name": "nguyenan23090801@gmail.com",
        "dname": "Email",
        "x": 1090,
        "y": 160,
        "wires": []
    },
    {
        "id": "f3ce5f0f576ad53e",
        "type": "switch",
        "z": "8cd7f9bece66317e",
        "name": "Check Temperature",
        "property": "payload.temperature",
        "propertyType": "msg",
        "rules": [
            {
                "t": "btwn",
                "v": "36",
                "vt": "num",
                "v2": "38",
                "v2t": "num"
            },
            {
                "t": "gt",
                "v": "38",
                "vt": "num"
            },
            {
                "t": "lt",
                "v": "36",
                "vt": "num"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 3,
        "x": 630,
        "y": 120,
        "wires": [
            [
                "2da2b8bc89f3b76d"
            ],
            [
                "2da2b8bc89f3b76d",
                "d3a55b1524161fc6"
            ],
            [
                "2da2b8bc89f3b76d",
                "6f5814b233f2a83b"
            ]
        ]
    },
    {
        "id": "6f5814b233f2a83b",
        "type": "change",
        "z": "8cd7f9bece66317e",
        "name": "Email text",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "Your temperature of crable is lower ",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "Temperature is dangerous",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 860,
        "y": 140,
        "wires": [
            [
                "ee6c0e61a6d0032c"
            ]
        ]
    },
    {
        "id": "d3a55b1524161fc6",
        "type": "change",
        "z": "8cd7f9bece66317e",
        "name": "Email text",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "Your temperature of crable is higher",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "Temperature is dangerous",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 860,
        "y": 100,
        "wires": [
            [
                "ee6c0e61a6d0032c"
            ]
        ]
    },
    {
        "id": "e1ceb05acdc37f19",
        "type": "switch",
        "z": "8cd7f9bece66317e",
        "name": "Check Humidity",
        "property": "payload.humidity",
        "propertyType": "msg",
        "rules": [
            {
                "t": "btwn",
                "v": "30",
                "vt": "num",
                "v2": "40",
                "v2t": "num"
            },
            {
                "t": "gt",
                "v": "40",
                "vt": "num"
            },
            {
                "t": "lt",
                "v": "30",
                "vt": "num"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 3,
        "x": 620,
        "y": 240,
        "wires": [
            [
                "1229b5eda0964faf"
            ],
            [
                "1229b5eda0964faf",
                "6694accd6ab6bcf0"
            ],
            [
                "1229b5eda0964faf",
                "dcb7104402b8f0ab"
            ]
        ]
    },
    {
        "id": "6694accd6ab6bcf0",
        "type": "change",
        "z": "8cd7f9bece66317e",
        "name": "Email text",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "Your humidity of crable is higher",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "Humidity is dangerous",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 860,
        "y": 220,
        "wires": [
            [
                "ee6c0e61a6d0032c"
            ]
        ]
    },
    {
        "id": "dcb7104402b8f0ab",
        "type": "change",
        "z": "8cd7f9bece66317e",
        "name": "Email text",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "Your humidity of crable is lower",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "Humidity is dangerous",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 860,
        "y": 260,
        "wires": [
            [
                "ee6c0e61a6d0032c"
            ]
        ]
    },
    {
        "id": "f5b473cd1c37b8ea",
        "type": "ui_group",
        "name": "Temperature",
        "tab": "1ae68597cbbb5d32",
        "order": 2,
        "disp": true,
        "width": "8",
        "collapse": false,
        "className": ""
    },
    {
        "id": "d5b8e4da0f4de1d6",
        "type": "ui_group",
        "name": "Humidity",
        "tab": "1ae68597cbbb5d32",
        "order": 3,
        "disp": true,
        "width": "8",
        "collapse": false,
        "className": ""
    },
    {
        "id": "0f531c1ca3146c19",
        "type": "mqtt-broker",
        "name": "",
        "broker": "test.mosquitto.org",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "457669cf121f2326",
        "type": "ui_group",
        "name": "Sleep chart",
        "tab": "1ae68597cbbb5d32",
        "order": 2,
        "disp": false,
        "width": "16",
        "collapse": false,
        "className": ""
    },
    {
        "id": "1ae68597cbbb5d32",
        "type": "ui_tab",
        "name": "Dashboard",
        "id": "e2c0db14e0242032",
        "type": "ui_tab",
        "name": "Home",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "e34f508fd6549f51",
        "type": "ui_tab",
        "name": "Settings",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "706157f4a960716e",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "09296bd45df7061e",
        "type": "comment",
        "z": "706157f4a960716e",
        "name": "HOME",
        "info": "",
        "x": 130,
        "y": 60,
        "wires": []
    },
    {
        "id": "c8a8d8990d58edce",
        "type": "comment",
        "z": "706157f4a960716e",
        "name": "HOME",
        "info": "",
        "x": 150,
        "y": 360,
        "wires": []
    },
    {
        "id": "aa50544252fffeea",
        "type": "comment",
        "z": "706157f4a960716e",
        "name": "DEVICE MANAGER",
        "info": "",
        "x": 350,
        "y": 1100,
        "wires": []
    },
    {
        "id": "091414e5228e2e7f",
        "type": "mqtt out",
        "z": "706157f4a960716e",
        "name": "",
        "topic": "buzzer/trigger",
        "qos": "2",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "765ac9edbab7f418",
        "x": 1560,
        "y": 1160,
        "wires": []
    },
    {
        "id": "ebf5d3bf2b9cafb3",
        "type": "ui_button",
        "z": "706157f4a960716e",
        "name": "",
        "group": "f6207949e303eac6",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Trigger the buzzer",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "trigger buzzer",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 1050,
        "y": 1020,
        "wires": [
            [
                "ba61b6f77584b9e9"
            ]
        ]
    },
    {
        "id": "ff46e2d9248fcf94",
        "type": "ui_switch",
        "z": "706157f4a960716e",
        "name": "",
        "label": "Mute sound",
        "tooltip": "",
        "group": "f6207949e303eac6",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 1150,
        "y": 1160,
        "wires": [
            [
                "e0777f1d0a042f3f"
            ]
        ]
    },
    {
        "id": "59328b19f604fde3",
        "type": "mongodb3 in",
        "z": "706157f4a960716e",
        "service": "_ext_",
        "configNode": "aed9c4a600bee363",
        "name": "Read state",
        "collection": "buzzer_state",
        "operation": "",
        "x": 650,
        "y": 1100,
        "wires": [
            [
                "b59bc94c17385510"
            ]
        ]
    },
    {
        "id": "1c7557178eb1284b",
        "type": "function",
        "z": "706157f4a960716e",
        "name": "Read state",
        "func": "msg.payload = {}\nmsg.operation = \"find.forEach\";\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 470,
        "y": 1160,
        "wires": [
            [
                "59328b19f604fde3"
            ]
        ]
    },
    {
        "id": "b59bc94c17385510",
        "type": "function",
        "z": "706157f4a960716e",
        "name": "Store states",
        "func": "flow.set('is_mute', msg.payload.is_mute);\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 810,
        "y": 1160,
        "wires": [
            [
                "72cfac6e31bd45af"
            ]
        ]
    },
    {
        "id": "72cfac6e31bd45af",
        "type": "function",
        "z": "706157f4a960716e",
        "name": "Set mute state",
        "func": "msg.payload = flow.get('is_mute');\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 980,
        "y": 1100,
        "wires": [
            [
                "ff46e2d9248fcf94"
            ]
        ]
    },
    {
        "id": "ba61b6f77584b9e9",
        "type": "function",
        "z": "706157f4a960716e",
        "name": "isMuted?",
        "func": "msg.payload = ''\nmsg.payload = flow.get('is_mute');\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1260,
        "y": 1080,
        "wires": [
            [
                "efae8d3188b00cd1",
                "091414e5228e2e7f"
            ]
        ]
    },
    {
        "id": "e0777f1d0a042f3f",
        "type": "function",
        "z": "706157f4a960716e",
        "name": "Set mute",
        "func": "flow.set('is_mute', msg.payload);\nmsg.payload = [{ id: \"1\" }, { $set: { \"is_mute\": msg.payload } }];\nmsg.operation = \"updateOne\";\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1320,
        "y": 1220,
        "wires": [
            [
                "baa6cfb4b2a7774c"
            ]
        ]
    },
    {
        "id": "baa6cfb4b2a7774c",
        "type": "mongodb3 in",
        "z": "706157f4a960716e",
        "service": "_ext_",
        "configNode": "aed9c4a600bee363",
        "name": "write isMuted",
        "collection": "buzzer_state",
        "operation": "",
        "x": 1530,
        "y": 1260,
        "wires": [
            []
        ]
    },
    {
        "id": "efae8d3188b00cd1",
        "type": "debug",
        "z": "706157f4a960716e",
        "name": "debug 15",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1420,
        "y": 1000,
        "wires": []
    },
    {
        "id": "3626950d780170ce",
        "type": "inject",
        "z": "706157f4a960716e",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "1",
        "crontab": "",
        "once": true,
        "onceDelay": "1",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 310,
        "y": 1160,
        "wires": [
            [
                "1c7557178eb1284b"
            ]
        ]
    },
    {
        "id": "cb712741df7b36e5",
        "type": "ui_button",
        "z": "706157f4a960716e",
        "name": "",
        "group": "781ac152bb694f16",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Trigger Servos",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "trigger servos",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 940,
        "y": 1320,
        "wires": [
            [
                "f312c40b423a792f"
            ]
        ]
    },
    {
        "id": "585f9ba2edf45ab4",
        "type": "mqtt out",
        "z": "706157f4a960716e",
        "name": "",
        "topic": "servos/trigger",
        "qos": "2",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "765ac9edbab7f418",
        "x": 1260,
        "y": 1320,
        "wires": []
    },
    {
        "id": "f312c40b423a792f",
        "type": "change",
        "z": "706157f4a960716e",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "true",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1080,
        "y": 1400,
        "wires": [
            [
                "585f9ba2edf45ab4"
            ]
        ]
    },
    {
        "id": "765ac9edbab7f418",
        "type": "mqtt-broker",
        "name": "",
        "broker": "test.mosquitto.org",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "f6207949e303eac6",
        "type": "ui_group",
        "name": "Buzzer",
        "tab": "5623917b3e1f8867",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "aed9c4a600bee363",
        "type": "mongodb3",
        "uri": "mongodb+srv://vttin21:superchina@cluster0.1hnnvkh.mongodb.net/?retryWrites=true&w=majority",
        "name": "",
        "options": "",
        "parallelism": "-1"
    },
    {
        "id": "781ac152bb694f16",
        "type": "ui_group",
        "name": "Servos",
        "tab": "5623917b3e1f8867",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "5623917b3e1f8867",
        "type": "ui_tab",
        "name": "Device7",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    }
]