node-red/NHOM07_21127211_21127450_21127628.json
[
    {
        "id": "eaf8f43ff0ca25e2",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "564ce2e2663955f5",
        "type": "ui_form",
        "z": "eaf8f43ff0ca25e2",
        "name": "login",
        "label": "Login",
        "group": "bcd98fba5a76f659",
        "order": 0,
        "width": 0,
        "height": 0,
        "options": [
            {
                "label": "Username",
                "value": "username",
                "type": "text",
                "required": true,
                "rows": null
            },
            {
                "label": "Password",
                "value": "password",
                "type": "password",
                "required": true,
                "rows": null
            }
        ],
        "formValue": {
            "username": "",
            "password": ""
        },
        "payload": "",
        "submit": "submit",
        "cancel": "cancel",
        "topic": "topic",
        "topicType": "msg",
        "splitLayout": "",
        "className": "",
        "x": 390,
        "y": 120,
        "wires": [
            [
                "7533537259c694c0"
            ]
        ]
    },
    {
        "id": "68214c683afe3523",
        "type": "mongodb3 in",
        "z": "eaf8f43ff0ca25e2",
        "service": "_ext_",
        "configNode": "b75bc0c6285b07e4",
        "name": "mauth",
        "collection": "account",
        "operation": "",
        "x": 790,
        "y": 200,
        "wires": [
            [
                "55bdde2b689965d6"
            ]
        ]
    },
    {
        "id": "a4d6e2c1523b865b",
        "type": "function",
        "z": "eaf8f43ff0ca25e2",
        "name": "Read data",
        "func": "msg.payload = {}\nmsg.operation = \"find.forEach\";\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 810,
        "y": 120,
        "wires": [
            [
                "68214c683afe3523"
            ]
        ]
    },
    {
        "id": "55bdde2b689965d6",
        "type": "function",
        "z": "eaf8f43ff0ca25e2",
        "name": "Authenticate",
        "func": "if (msg.payload.username == msg.login.username\n    && msg.payload.password == msg.login.password){\n        msg.payload.isValid = 1;\n        msg.payload.notification = \"Login successfully\";\n    }\nelse{\n        msg.payload.isValid = 0;\n        msg.payload.notification = \"Incorrect username or password\";\n}\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 970,
        "y": 200,
        "wires": [
            [
                "0cb41a561dc6651a"
            ]
        ]
    },
    {
        "id": "7533537259c694c0",
        "type": "change",
        "z": "eaf8f43ff0ca25e2",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "login",
                "pt": "msg",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 610,
        "y": 120,
        "wires": [
            [
                "a4d6e2c1523b865b"
            ]
        ]
    },
    {
        "id": "c7e31398454568f8",
        "type": "ui_toast",
        "z": "eaf8f43ff0ca25e2",
        "position": "dialog",
        "displayTime": "3",
        "highlight": "",
        "sendall": true,
        "outputs": 1,
        "ok": "OK",
        "cancel": "",
        "raw": false,
        "className": "",
        "topic": "",
        "name": "",
        "x": 1210,
        "y": 320,
        "wires": [
            []
        ]
    },
    {
        "id": "ccdc021dfd3d267e",
        "type": "change",
        "z": "eaf8f43ff0ca25e2",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.notification",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 960,
        "y": 320,
        "wires": [
            [
                "c7e31398454568f8"
            ]
        ]
    },
    {
        "id": "fedfbbe6394ed918",
        "type": "ui_form",
        "z": "eaf8f43ff0ca25e2",
        "name": "change in4",
        "label": "Change Information",
        "group": "c59cbf38157a1f68",
        "order": 1,
        "width": 0,
        "height": 0,
        "options": [
            {
                "label": "Username",
                "value": "username",
                "type": "text",
                "required": true,
                "rows": null
            },
            {
                "label": "New password",
                "value": "password",
                "type": "text",
                "required": true,
                "rows": null
            }
        ],
        "formValue": {
            "username": "",
            "password": ""
        },
        "payload": "",
        "submit": "submit",
        "cancel": "cancel",
        "topic": "topic",
        "topicType": "msg",
        "splitLayout": "",
        "className": "",
        "x": 430,
        "y": 560,
        "wires": [
            [
                "882cc9de8a8a6d14"
            ]
        ]
    },
    {
        "id": "346c02c90f9f811d",
        "type": "mongodb3 in",
        "z": "eaf8f43ff0ca25e2",
        "service": "_ext_",
        "configNode": "b75bc0c6285b07e4",
        "name": "change password",
        "collection": "account",
        "operation": "updateOne",
        "x": 870,
        "y": 560,
        "wires": [
            [
                "7297203a6bd90910"
            ]
        ]
    },
    {
        "id": "882cc9de8a8a6d14",
        "type": "function",
        "z": "eaf8f43ff0ca25e2",
        "name": "Change password",
        "func": "//flow.get(\"password\", msg.payload.password);\nmsg.payload = [{\"username\": \"admin\"}, {$set: {\"password\": msg.payload.password}}];\nmsg.operation = \"updateOne\";\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 630,
        "y": 560,
        "wires": [
            [
                "346c02c90f9f811d"
            ]
        ]
    },
    {
        "id": "7297203a6bd90910",
        "type": "change",
        "z": "eaf8f43ff0ca25e2",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "Password changed",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1100,
        "y": 560,
        "wires": [
            [
                "e46a10633f011003"
            ]
        ]
    },
    {
        "id": "e46a10633f011003",
        "type": "ui_toast",
        "z": "eaf8f43ff0ca25e2",
        "position": "dialog",
        "displayTime": "3",
        "highlight": "",
        "sendall": true,
        "outputs": 1,
        "ok": "OK",
        "cancel": "",
        "raw": false,
        "className": "",
        "topic": "",
        "name": "",
        "x": 1330,
        "y": 560,
        "wires": [
            []
        ]
    },
    {
        "id": "56f0e400f4c1a55f",
        "type": "comment",
        "z": "eaf8f43ff0ca25e2",
        "name": "LOG IN",
        "info": "",
        "x": 130,
        "y": 60,
        "wires": []
    },
    {
        "id": "d4d7d8d8f0648bf2",
        "type": "comment",
        "z": "eaf8f43ff0ca25e2",
        "name": "CHANGE PASSWORD",
        "info": "",
        "x": 340,
        "y": 500,
        "wires": []
    },
    {
        "id": "71c6e04e6382b430",
        "type": "ui_gauge",
        "z": "eaf8f43ff0ca25e2",
        "name": "",
        "group": "730e9c9b511105cb",
        "order": 1,
        "width": "6",
        "height": "4",
        "gtype": "gage",
        "title": "Temperature",
        "label": "oC",
        "format": "{{msg.payload.temperature}}",
        "min": 0,
        "max": "50",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "29",
        "seg2": "37.5",
        "diff": false,
        "className": "",
        "x": 1030,
        "y": 740,
        "wires": []
    },
    {
        "id": "8954a14a5c1d8793",
        "type": "ui_gauge",
        "z": "eaf8f43ff0ca25e2",
        "name": "",
        "group": "730e9c9b511105cb",
        "order": 2,
        "width": "6",
        "height": "4",
        "gtype": "gage",
        "title": "Humidity",
        "label": "%",
        "format": "{{msg.payload.humidity}}",
        "min": "20",
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "40",
        "seg2": "70",
        "diff": false,
        "className": "",
        "x": 1020,
        "y": 880,
        "wires": []
    },
    {
        "id": "8f45130a1736d52f",
        "type": "mqtt in",
        "z": "eaf8f43ff0ca25e2",
        "name": "",
        "topic": "Home/Temperature",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "765ac9edbab7f418",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 530,
        "y": 840,
        "wires": [
            [
                "172b9ae7864a5eaf",
                "cf4496a9e8dbcf18"
            ]
        ]
    },
    {
        "id": "867c7d668edb6821",
        "type": "mqtt out",
        "z": "eaf8f43ff0ca25e2",
        "name": "",
        "topic": "home/data",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "765ac9edbab7f418",
        "x": 730,
        "y": 1080,
        "wires": []
    },
    {
        "id": "893539269a5aef21",
        "type": "inject",
        "z": "eaf8f43ff0ca25e2",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 520,
        "y": 1080,
        "wires": [
            [
                "867c7d668edb6821"
            ]
        ]
    },
    {
        "id": "98b8847a572d3dcb",
        "type": "comment",
        "z": "eaf8f43ff0ca25e2",
        "name": "DASHBOARD",
        "info": "",
        "x": 310,
        "y": 780,
        "wires": []
    },
    {
        "id": "956093e9b55ea190",
        "type": "ui_chart",
        "z": "eaf8f43ff0ca25e2",
        "name": "",
        "group": "4fab4fa8aa39885c",
        "order": 0,
        "width": "12",
        "height": "6",
        "label": "chart",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": true,
        "ymin": "0",
        "ymax": "1",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 1090,
        "y": 1000,
        "wires": [
            []
        ]
    },
    {
        "id": "cbf34a3653e2d405",
        "type": "mqtt in",
        "z": "eaf8f43ff0ca25e2",
        "name": "",
        "topic": "Home/Humidity",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "765ac9edbab7f418",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 540,
        "y": 940,
        "wires": [
            [
                "8d8020e25ab3cb60",
                "ad4dc09666cb18ee"
            ]
        ]
    },
    {
        "id": "3f157d6548b93f67",
        "type": "e-mail",
        "z": "eaf8f43ff0ca25e2",
        "server": "smtp.gmail.com",
        "port": "465",
        "authtype": "BASIC",
        "saslformat": true,
        "token": "oauth2Response.access_token",
        "secure": true,
        "tls": true,
        "name": "ldkhoa21@clc.fitus.edu.vn",
        "dname": "Email",
        "x": 1250,
        "y": 860,
        "wires": []
    },
    {
        "id": "172b9ae7864a5eaf",
        "type": "switch",
        "z": "eaf8f43ff0ca25e2",
        "name": "Check Temperature",
        "property": "payload.temperature",
        "propertyType": "msg",
        "rules": [
            {
                "t": "btwn",
                "v": "36",
                "vt": "num",
                "v2": "38",
                "v2t": "num"
            },
            {
                "t": "gt",
                "v": "38",
                "vt": "num"
            },
            {
                "t": "lt",
                "v": "36",
                "vt": "num"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 3,
        "x": 790,
        "y": 820,
        "wires": [
            [
                "71c6e04e6382b430"
            ],
            [
                "71c6e04e6382b430",
                "a5568526e3957e6c"
            ],
            [
                "71c6e04e6382b430",
                "2edd1e66bd38f86c"
            ]
        ]
    },
    {
        "id": "2edd1e66bd38f86c",
        "type": "change",
        "z": "eaf8f43ff0ca25e2",
        "name": "Email text",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "Your temperature of crable is lower ",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "Temperature is dangerous",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1020,
        "y": 840,
        "wires": [
            [
                "3f157d6548b93f67"
            ]
        ]
    },
    {
        "id": "a5568526e3957e6c",
        "type": "change",
        "z": "eaf8f43ff0ca25e2",
        "name": "Email text",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "Your temperature of crable is higher",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "Temperature is dangerous",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1020,
        "y": 800,
        "wires": [
            [
                "3f157d6548b93f67"
            ]
        ]
    },
    {
        "id": "8d8020e25ab3cb60",
        "type": "switch",
        "z": "eaf8f43ff0ca25e2",
        "name": "Check Humidity",
        "property": "payload.humidity",
        "propertyType": "msg",
        "rules": [
            {
                "t": "btwn",
                "v": "30",
                "vt": "num",
                "v2": "40",
                "v2t": "num"
            },
            {
                "t": "gt",
                "v": "40",
                "vt": "num"
            },
            {
                "t": "lt",
                "v": "30",
                "vt": "num"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 3,
        "x": 780,
        "y": 940,
        "wires": [
            [
                "8954a14a5c1d8793"
            ],
            [
                "8954a14a5c1d8793",
                "1d1adc4d8e86535d"
            ],
            [
                "8954a14a5c1d8793",
                "419ab783601bece1"
            ]
        ]
    },
    {
        "id": "1d1adc4d8e86535d",
        "type": "change",
        "z": "eaf8f43ff0ca25e2",
        "name": "Email text",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "Your humidity of crable is higher",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "Humidity is dangerous",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1020,
        "y": 920,
        "wires": [
            [
                "3f157d6548b93f67"
            ]
        ]
    },
    {
        "id": "419ab783601bece1",
        "type": "change",
        "z": "eaf8f43ff0ca25e2",
        "name": "Email text",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "Your humidity of crable is lower",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "Humidity is dangerous",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1020,
        "y": 960,
        "wires": [
            [
                "3f157d6548b93f67"
            ]
        ]
    },
    {
        "id": "8148772df6d81de3",
        "type": "inject",
        "z": "eaf8f43ff0ca25e2",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "1",
        "crontab": "",
        "once": true,
        "onceDelay": "1",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 310,
        "y": 1340,
        "wires": [
            [
                "0c90d702e2e2820c"
            ]
        ]
    },
    {
        "id": "bc24f41b40cb43ca",
        "type": "comment",
        "z": "eaf8f43ff0ca25e2",
        "name": "DEVICE MANAGER",
        "info": "",
        "x": 350,
        "y": 1280,
        "wires": []
    },
    {
        "id": "c73c3dfec7bffee2",
        "type": "ui_switch",
        "z": "eaf8f43ff0ca25e2",
        "name": "",
        "label": "Mute sound",
        "tooltip": "",
        "group": "2b39d31a43adf77c",
        "order": 2,
        "width": "3",
        "height": "2",
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 1230,
        "y": 1340,
        "wires": [
            [
                "cfcccc9b77ff1f7c"
            ]
        ]
    },
    {
        "id": "0b41f2b5f04df866",
        "type": "mongodb3 in",
        "z": "eaf8f43ff0ca25e2",
        "service": "_ext_",
        "configNode": "aed9c4a600bee363",
        "name": "Read state",
        "collection": "buzzer_state",
        "operation": "",
        "x": 650,
        "y": 1340,
        "wires": [
            [
                "765f85828b2dcb8e"
            ]
        ]
    },
    {
        "id": "0c90d702e2e2820c",
        "type": "function",
        "z": "eaf8f43ff0ca25e2",
        "name": "Read state",
        "func": "msg.payload = {}\nmsg.operation = \"find.forEach\";\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 470,
        "y": 1340,
        "wires": [
            [
                "0b41f2b5f04df866"
            ]
        ]
    },
    {
        "id": "765f85828b2dcb8e",
        "type": "function",
        "z": "eaf8f43ff0ca25e2",
        "name": "Store states",
        "func": "flow.set('is_mute', msg.payload.is_mute);\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 830,
        "y": 1340,
        "wires": [
            [
                "e63b346dc83168f3"
            ]
        ]
    },
    {
        "id": "e63b346dc83168f3",
        "type": "function",
        "z": "eaf8f43ff0ca25e2",
        "name": "Set mute state",
        "func": "msg.payload = flow.get('is_mute');\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1040,
        "y": 1340,
        "wires": [
            [
                "c73c3dfec7bffee2"
            ]
        ]
    },
    {
        "id": "cfcccc9b77ff1f7c",
        "type": "function",
        "z": "eaf8f43ff0ca25e2",
        "name": "Set mute",
        "func": "flow.set('is_mute', msg.payload);\nmsg.payload = [{ id: \"1\" }, { $set: { \"is_mute\": msg.payload } }];\nmsg.operation = \"updateOne\";\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1220,
        "y": 1260,
        "wires": [
            [
                "c271520d20ad51f9"
            ]
        ]
    },
    {
        "id": "c271520d20ad51f9",
        "type": "mongodb3 in",
        "z": "eaf8f43ff0ca25e2",
        "service": "_ext_",
        "configNode": "aed9c4a600bee363",
        "name": "write isMuted",
        "collection": "buzzer_state",
        "operation": "",
        "x": 1410,
        "y": 1260,
        "wires": [
            []
        ]
    },
    {
        "id": "0cb41a561dc6651a",
        "type": "switch",
        "z": "eaf8f43ff0ca25e2",
        "name": "",
        "property": "payload.isValid",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "1",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "0",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 690,
        "y": 300,
        "wires": [
            [
                "52607d0d0a69f897",
                "ccdc021dfd3d267e"
            ],
            [
                "f7dcaa289a6fba06"
            ]
        ]
    },
    {
        "id": "52607d0d0a69f897",
        "type": "function",
        "z": "eaf8f43ff0ca25e2",
        "name": "Show tabs and disable Login",
        "func": "msg.payload = {\n    \"tab\": \"Home\",\n    \"tabs\": {\n        \"hide\": [\"Home\"],\n        \"show\": [\"Dashboard\", \"Devices\", \"Settings\"],\n    }\n};\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1000,
        "y": 280,
        "wires": [
            [
                "33c00899461d7ae6"
            ]
        ]
    },
    {
        "id": "a051d048b527fa59",
        "type": "ui_toast",
        "z": "eaf8f43ff0ca25e2",
        "position": "top right",
        "displayTime": "3",
        "highlight": "",
        "sendall": true,
        "outputs": 0,
        "ok": "OK",
        "cancel": "",
        "raw": false,
        "className": "",
        "topic": "Authentication failed",
        "name": "",
        "x": 1230,
        "y": 380,
        "wires": []
    },
    {
        "id": "33c00899461d7ae6",
        "type": "ui_ui_control",
        "z": "eaf8f43ff0ca25e2",
        "name": "",
        "events": "all",
        "x": 1200,
        "y": 260,
        "wires": [
            []
        ]
    },
    {
        "id": "f7dcaa289a6fba06",
        "type": "change",
        "z": "eaf8f43ff0ca25e2",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.notification",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 960,
        "y": 380,
        "wires": [
            [
                "a051d048b527fa59"
            ]
        ]
    },
    {
        "id": "a546ea5cb3e0d2f0",
        "type": "function",
        "z": "eaf8f43ff0ca25e2",
        "name": "function 12",
        "func": "msg.payload = {\n    \"tab\": \"Home\",\n    \"tabs\": {\n        \"show\": [\"Home\"],\n        \"hide\": [\"Dashboard\", \"Devices\", \"Settings\"],\n    }\n};\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 230,
        "y": 260,
        "wires": [
            [
                "0f7ac55c54e3c876"
            ]
        ]
    },
    {
        "id": "0f7ac55c54e3c876",
        "type": "ui_ui_control",
        "z": "eaf8f43ff0ca25e2",
        "name": "",
        "events": "all",
        "x": 440,
        "y": 260,
        "wires": [
            [
                "564ce2e2663955f5"
            ]
        ]
    },
    {
        "id": "3c0a015c1092fc08",
        "type": "inject",
        "z": "eaf8f43ff0ca25e2",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 170,
        "y": 120,
        "wires": [
            [
                "a546ea5cb3e0d2f0"
            ]
        ]
    },
    {
        "id": "83e1b7b926b0d32a",
        "type": "ui_button",
        "z": "eaf8f43ff0ca25e2",
        "name": "",
        "group": "d3d13dd36c8bc870",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Trigger Servos",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "trigger servos",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 300,
        "y": 1420,
        "wires": [
            [
                "ab3ab11c295968cf"
            ]
        ]
    },
    {
        "id": "fb9fed2585b5bad8",
        "type": "mqtt out",
        "z": "eaf8f43ff0ca25e2",
        "name": "",
        "topic": "servos/trigger",
        "qos": "2",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "765ac9edbab7f418",
        "x": 620,
        "y": 1420,
        "wires": []
    },
    {
        "id": "ab3ab11c295968cf",
        "type": "change",
        "z": "eaf8f43ff0ca25e2",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "true",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 440,
        "y": 1500,
        "wires": [
            [
                "fb9fed2585b5bad8"
            ]
        ]
    },
    {
        "id": "ae7ae8e0c461f83b",
        "type": "mqtt out",
        "z": "eaf8f43ff0ca25e2",
        "name": "",
        "topic": "buzzer/trigger",
        "qos": "2",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "765ac9edbab7f418",
        "x": 1200,
        "y": 1500,
        "wires": []
    },
    {
        "id": "e5d37ccddce78b38",
        "type": "ui_button",
        "z": "eaf8f43ff0ca25e2",
        "name": "",
        "group": "2b39d31a43adf77c",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Trigger the buzzer",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "trigger buzzer",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 830,
        "y": 1420,
        "wires": [
            [
                "2f87a0376ad9fb8d"
            ]
        ]
    },
    {
        "id": "2f87a0376ad9fb8d",
        "type": "function",
        "z": "eaf8f43ff0ca25e2",
        "name": "isMuted?",
        "func": "msg.payload = ''\nmsg.payload = flow.get('is_mute');\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 960,
        "y": 1500,
        "wires": [
            [
                "ae7ae8e0c461f83b",
                "8b4e081d87a50d30"
            ]
        ]
    },
    {
        "id": "8b4e081d87a50d30",
        "type": "debug",
        "z": "eaf8f43ff0ca25e2",
        "name": "debug 15",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1180,
        "y": 1440,
        "wires": []
    },
    {
        "id": "22c583eb82c000ce",
        "type": "http request",
        "z": "eaf8f43ff0ca25e2",
        "name": "",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "https://api.thingspeak.com/channels/2373888/fields/3.json?api_key=PPXQIRCSVIGGUN8B&results=100",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 610,
        "y": 1000,
        "wires": [
            [
                "77ccf73a4ab0eff9"
            ]
        ]
    },
    {
        "id": "9d91be8474ac0998",
        "type": "inject",
        "z": "eaf8f43ff0ca25e2",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "30",
        "crontab": "",
        "once": true,
        "onceDelay": "30",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 430,
        "y": 1000,
        "wires": [
            [
                "22c583eb82c000ce"
            ]
        ]
    },
    {
        "id": "77ccf73a4ab0eff9",
        "type": "json",
        "z": "eaf8f43ff0ca25e2",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 770,
        "y": 1000,
        "wires": [
            [
                "480d6d05beb9dff7"
            ]
        ]
    },
    {
        "id": "480d6d05beb9dff7",
        "type": "function",
        "z": "eaf8f43ff0ca25e2",
        "name": "Retrieve data",
        "func": "msg.payload = Number(msg.payload.feeds[0].field3);\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 930,
        "y": 1000,
        "wires": [
            [
                "956093e9b55ea190"
            ]
        ]
    },
    {
        "id": "4bbca6c9dac60d3c",
        "type": "mqtt in",
        "z": "eaf8f43ff0ca25e2",
        "name": "",
        "topic": "Home/Chart",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "765ac9edbab7f418",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 950,
        "y": 1080,
        "wires": [
            [
                "c6e47f6e012c4e2a"
            ]
        ]
    },
    {
        "id": "c6e47f6e012c4e2a",
        "type": "http request",
        "z": "eaf8f43ff0ca25e2",
        "name": "",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "https://api.thingspeak.com/update?api_key=5U7X98T6N86XGGA2&field3={{{payload.sleep_duration}}}",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 1130,
        "y": 1080,
        "wires": [
            []
        ]
    },
    {
        "id": "cf4496a9e8dbcf18",
        "type": "http request",
        "z": "eaf8f43ff0ca25e2",
        "name": "",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "https://api.thingspeak.com/update?api_key=5U7X98T6N86XGGA2&field1={{{payload.temperature}}}",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 810,
        "y": 720,
        "wires": [
            []
        ]
    },
    {
        "id": "ad4dc09666cb18ee",
        "type": "http request",
        "z": "eaf8f43ff0ca25e2",
        "name": "",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "https://api.thingspeak.com/update?api_key=5U7X98T6N86XGGA2&field2={{{payload.humidity}}}",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 770,
        "y": 880,
        "wires": [
            []
        ]
    },
    {
        "id": "bcd98fba5a76f659",
        "type": "ui_group",
        "name": "Login",
        "tab": "09a8d6401b7eec8b",
        "order": 5,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "b75bc0c6285b07e4",
        "type": "mongodb3",
        "uri": "mongodb+srv://vttin21:superchina@cluster0.1hnnvkh.mongodb.net/?retryWrites=true&w=majority",
        "name": "",
        "options": "",
        "parallelism": "-1"
    },
    {
        "id": "c59cbf38157a1f68",
        "type": "ui_group",
        "name": "Change password",
        "tab": "f3d3f81d82c911d9",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "730e9c9b511105cb",
        "type": "ui_group",
        "name": "Environment",
        "tab": "cb90d8c99d1730e8",
        "order": 6,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "765ac9edbab7f418",
        "type": "mqtt-broker",
        "name": "",
        "broker": "test.mosquitto.org",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "4fab4fa8aa39885c",
        "type": "ui_group",
        "name": "Sleep Duration",
        "tab": "cb90d8c99d1730e8",
        "order": 4,
        "disp": true,
        "width": "12",
        "collapse": false,
        "className": ""
    },
    {
        "id": "2b39d31a43adf77c",
        "type": "ui_group",
        "name": "Buzzer",
        "tab": "d8cf1a1e5edb0602",
        "order": 3,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "aed9c4a600bee363",
        "type": "mongodb3",
        "uri": "mongodb+srv://vttin21:superchina@cluster0.1hnnvkh.mongodb.net/?retryWrites=true&w=majority",
        "name": "",
        "options": "",
        "parallelism": "-1"
    },
    {
        "id": "d3d13dd36c8bc870",
        "type": "ui_group",
        "name": "Servos",
        "tab": "d8cf1a1e5edb0602",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "09a8d6401b7eec8b",
        "type": "ui_tab",
        "name": "Home",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "f3d3f81d82c911d9",
        "type": "ui_tab",
        "name": "Settings",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "cb90d8c99d1730e8",
        "type": "ui_tab",
        "name": "Dashboard",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "d8cf1a1e5edb0602",
        "type": "ui_tab",
        "name": "Devices",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    }
]